@charset "UTF-8";
/*
*
* ./main 入口文件
*
*
*/
/*
*  存放变量
*/
/*
*  ./mixins 入口文件
*/
.bubble:before {
  content: '';
  position: absolute;
  top: 14px;
  border: 6px solid transparent; }

.work-item-info h4, .work-item-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.circle-tip {
  border-radius: 50%;
  text-align: center; }

.circle-tip {
  display: inline-block;
  width: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #ff3366; }

/*
*  样式初始化
*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility; }

/* 如果你的项目仅支持 IE9+ | Chrome | Firefox 等，推荐在 <html> 中添加 .borderbox 这个 class */
html.borderbox *, html.borderbox *:before, html.borderbox *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0; }

ol, ul, legend, button, input, optgroup, select, textarea, fieldset {
  margin: 0;
  padding: 0; }

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
  display: inline-block; }

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
  font: 400 1em/1.8 Microsoft Yahei, open sans, sans; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* 去掉各Table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 去除默认边框 */
fieldset, img {
  border: 0; }

/* 块/段落引用 */
blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 1px solid #0099ff;
  padding-left: 1em;
  margin: 1em 3em 1em 2em; }

@media only screen and (max-width: 640px) {
  blockquote {
    margin: 1em 0; } }

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr {
  border-bottom: 1px dotted;
  font-variant: normal; }

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
  cursor: help; }

/* 一致的 del 样式 */
del {
  text-decoration: line-through; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400; }

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul, ol {
  list-style: none; }

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

/* 统一上标和下标 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

:root sub, :root sup {
  vertical-align: baseline;
  /* for ie9 and other modern browsers */ }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* 让链接在 hover 状态下显示下划线 */
a {
  color: #1abc9c; }

.typo a {
  border-bottom: 1px solid #1abc9c; }

.typo a:hover {
  border-bottom-color: #555;
  color: #555;
  text-decoration: none; }

/* 默认不显示下划线，保持页面简洁 */
ins, a {
  text-decoration: none; }

/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
 * 要做到更好，向后兼容的话，添加 class="typo-u" 来显示专名号
 * 关于 <u> 标签：http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
 * 被放弃的是 4，之前一直搞错 http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
 * 一篇关于 <u> 标签的很好文章：http://html5doctor.com/u-element/
 */
u, .typo-u {
  text-decoration: underline; }

/* 标记，类似于手写的荧光笔的作用 */
mark {
  background: #fffdd1;
  border-bottom: 1px solid #ffedce;
  padding: 2px;
  margin: 0 5px; }

/* 代码片断 */
pre, code, pre tt {
  font-family: Courier, 'Courier New', monospace; }

/* 一致化 horizontal rule */
hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.8em;
  height: 10px; }

/* 底部印刷体、版本等标记 */
small, .typo-small,
figcaption {
  font-size: 0.9em;
  color: #888; }

strong, b {
  font-weight: bold;
  color: #000; }

/* 可拖动文件添加拖动手势 */
[draggable] {
  cursor: move; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* 强制文本换行 */
.textwrap, .textwrap td, .textwrap th {
  word-wrap: break-word;
  word-break: break-all; }

.textwrap-table {
  table-layout: fixed; }

/* 提供 serif 版本的字体设置: iOS 下中文自动 fallback 到 sans-serif */
.serif {
  font-family: Palatino, Optima, Georgia, serif; }

/* 保证块/段落之间的空白隔行 */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table,
.typo-p, .typo-pre, .typo-ul, .typo-ol, .typo-dl, .typo-form, .typo-hr, .typo-table, blockquote {
  margin-bottom: 1.2em; }

h1, h2, h3, h4, h5, h6 {
  font-family: Microsoft Yahei, open sans, sans;
  font-weight: 100;
  color: #000;
  line-height: 1.35; }

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6,
.typo-h1, .typo-h2, .typo-h3, .typo-h4, .typo-h5, .typo-h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.35; }

.typo h1, .typo-h1 {
  font-size: 2em; }

.typo h2, .typo-h2 {
  font-size: 1.8em; }

.typo h3, .typo-h3 {
  font-size: 1.6em; }

.typo h4, .typo-h4 {
  font-size: 1.4em; }

.typo h5, .typo h6, .typo-h5, .typo-h6 {
  font-size: 1.2em; }

/* 在文章中，应该还原 ul 和 ol 的样式 */
.typo ul, .typo-ul {
  margin-left: 1.3em;
  list-style: disc; }

.typo ol, .typo-ol {
  list-style: decimal;
  margin-left: 1.9em; }

.typo li ul, .typo li ol, .typo-ul ul, .typo-ul ol, .typo-ol ul, .typo-ol ol {
  margin-bottom: 0.8em;
  margin-left: 2em; }

.typo li ul, .typo-ul ul, .typo-ol ul {
  list-style: circle; }

/* 同 ul/ol，在文章中应用 table 基本格式 */
.typo table th, .typo table td, .typo-table th, .typo-table td, .typo table caption {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  color: #666; }

.typo table th, .typo-table th {
  background: #fbfbfb; }

.typo table thead th, .typo-table thead th {
  background: #f1f1f1; }

.typo table caption {
  border-bottom: none; }

/* 去除 webkit 中 input 和 textarea 的默认样式  */
.typo-input, .typo-textarea {
  -webkit-appearance: none;
  border-radius: 0; }

.typo-em, .typo em, legend, caption {
  color: #000;
  font-weight: inherit; }

/* 着重号，只能在少量（少于100个字符）且全是全角字符的情况下使用 */
.typo-em {
  position: relative; }

.typo-em:after {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・"; }

/* Responsive images */
.typo img {
  max-width: 100%; }

[contenteditable="true"] {
  outline: none; }

::selection {
  background: #ff3366;
  color: #fff; }

i {
  font-style: normal; }

html {
  overflow-x: hidden; }

html, body, #wrapper, .container, .page-container {
  height: 100%; }

.container {
  min-height: 620px;
  min-width: 880px; }

#wrapper {
  font-size: 14px; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none; }
  .btn:focus,
  .btn.focus,
  .btn:active:focus,
  .btn:active.focus,
  .btn.active:focus,
  .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #bec6d3;
    text-decoration: none; }
  .btn:active,
  .btn.active {
    outline: 0;
    background-image: none; }
  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed; }

.btn-default {
  color: #bec6d3;
  background-color: #fff;
  border-color: #e3e7ea; }
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:hover,
  .btn-default:active,
  .btn-default.active {
    background: rgba(0, 153, 255, 0.8);
    color: #fff;
    border-color: rgba(0, 153, 255, 0.1); }
  .btn-default.disabled,
  .btn-default.disabled:hover,
  .btn-default.disabled:focus,
  .btn-default.disabled.focus,
  .btn-default.disabled:active,
  .btn-default.disabled.active,
  .btn-default[disabled],
  .btn-default[disabled]:hover,
  .btn-default[disabled]:focus,
  .btn-default[disabled].focus,
  .btn-default[disabled]:active,
  .btn-default[disabled].active,
  fieldset[disabled] .btn-default,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:active,
  fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #e3e7ea; }

.btn-primary {
  color: #fff;
  background-color: #0099ff;
  border-color: #0099ff; }
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary.active {
    background: rgba(0, 153, 255, 0.8);
    color: #fff;
    border-color: rgba(0, 153, 255, 0.1); }
  .btn-primary.disabled,
  .btn-primary.disabled:hover,
  .btn-primary.disabled:focus,
  .btn-primary.disabled.focus,
  .btn-primary.disabled:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled],
  .btn-primary[disabled]:hover,
  .btn-primary[disabled]:focus,
  .btn-primary[disabled].focus,
  .btn-primary[disabled]:active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:active,
  fieldset[disabled] .btn-primary.active {
    background-color: #0099ff;
    border-color: #0099ff; }

.btn-success {
  color: #fff;
  background-color: #24c05f;
  border-color: #24c05f; }
  .btn-success:focus,
  .btn-success.focus,
  .btn-success:hover,
  .btn-success:active,
  .btn-success.active {
    background: rgba(36, 192, 95, 0.8);
    color: #fff;
    border-color: rgba(36, 192, 95, 0.1); }
  .btn-success.disabled,
  .btn-success.disabled:hover,
  .btn-success.disabled:focus,
  .btn-success.disabled.focus,
  .btn-success.disabled:active,
  .btn-success.disabled.active,
  .btn-success[disabled],
  .btn-success[disabled]:hover,
  .btn-success[disabled]:focus,
  .btn-success[disabled].focus,
  .btn-success[disabled]:active,
  .btn-success[disabled].active,
  fieldset[disabled] .btn-success,
  fieldset[disabled] .btn-success:hover,
  fieldset[disabled] .btn-success:focus,
  fieldset[disabled] .btn-success.focus,
  fieldset[disabled] .btn-success:active,
  fieldset[disabled] .btn-success.active {
    background-color: #24c05f;
    border-color: #24c05f; }

.btn-info {
  color: #fff;
  background-color: #0099ff;
  border-color: #0099ff; }
  .btn-info:focus,
  .btn-info.focus,
  .btn-info:hover,
  .btn-info:active,
  .btn-info.active {
    background: rgba(0, 153, 255, 0.8);
    color: #fff;
    border-color: rgba(0, 153, 255, 0.1); }
  .btn-info.disabled,
  .btn-info.disabled:hover,
  .btn-info.disabled:focus,
  .btn-info.disabled.focus,
  .btn-info.disabled:active,
  .btn-info.disabled.active,
  .btn-info[disabled],
  .btn-info[disabled]:hover,
  .btn-info[disabled]:focus,
  .btn-info[disabled].focus,
  .btn-info[disabled]:active,
  .btn-info[disabled].active,
  fieldset[disabled] .btn-info,
  fieldset[disabled] .btn-info:hover,
  fieldset[disabled] .btn-info:focus,
  fieldset[disabled] .btn-info.focus,
  fieldset[disabled] .btn-info:active,
  fieldset[disabled] .btn-info.active {
    background-color: #0099ff;
    border-color: #0099ff; }

.btn-warning {
  color: #fff;
  background-color: #ff3366;
  border-color: #ff3366; }
  .btn-warning:focus,
  .btn-warning.focus,
  .btn-warning:hover,
  .btn-warning:active,
  .btn-warning.active {
    background: rgba(255, 51, 102, 0.8);
    color: #fff;
    border-color: rgba(255, 51, 102, 0.1); }
  .btn-warning.disabled,
  .btn-warning.disabled:hover,
  .btn-warning.disabled:focus,
  .btn-warning.disabled.focus,
  .btn-warning.disabled:active,
  .btn-warning.disabled.active,
  .btn-warning[disabled],
  .btn-warning[disabled]:hover,
  .btn-warning[disabled]:focus,
  .btn-warning[disabled].focus,
  .btn-warning[disabled]:active,
  .btn-warning[disabled].active,
  fieldset[disabled] .btn-warning,
  fieldset[disabled] .btn-warning:hover,
  fieldset[disabled] .btn-warning:focus,
  fieldset[disabled] .btn-warning.focus,
  fieldset[disabled] .btn-warning:active,
  fieldset[disabled] .btn-warning.active {
    background-color: #ff3366;
    border-color: #ff3366; }

.btn-danger {
  color: #fff;
  background-color: #ff3366;
  border-color: #ff3366; }
  .btn-danger:focus,
  .btn-danger.focus,
  .btn-danger:hover,
  .btn-danger:active,
  .btn-danger.active {
    background: rgba(255, 51, 102, 0.8);
    color: #fff;
    border-color: rgba(255, 51, 102, 0.1); }
  .btn-danger.disabled,
  .btn-danger.disabled:hover,
  .btn-danger.disabled:focus,
  .btn-danger.disabled.focus,
  .btn-danger.disabled:active,
  .btn-danger.disabled.active,
  .btn-danger[disabled],
  .btn-danger[disabled]:hover,
  .btn-danger[disabled]:focus,
  .btn-danger[disabled].focus,
  .btn-danger[disabled]:active,
  .btn-danger[disabled].active,
  fieldset[disabled] .btn-danger,
  fieldset[disabled] .btn-danger:hover,
  fieldset[disabled] .btn-danger:focus,
  fieldset[disabled] .btn-danger.focus,
  fieldset[disabled] .btn-danger:active,
  fieldset[disabled] .btn-danger.active {
    background-color: #ff3366;
    border-color: #ff3366; }

.btn-mi {
  font-size: 14px;
  border-radius: 3px;
  line-height: 23px;
  padding: 0 15px; }

.btn-default {
  font-size: 14px;
  border-radius: 3px;
  line-height: 38px;
  padding: 0 20px; }

.btn-sm {
  font-size: 14px;
  border-radius: 3px;
  line-height: 28px;
  padding: 0 20px; }

.btn-lg {
  font-size: 18px;
  border-radius: 5px;
  line-height: 48px;
  padding: 0 24px; }

.btn-ke {
  font-size: 24px;
  border-radius: 5px;
  line-height: 58px;
  padding: 0 28px; }

.form-c {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  color: #56646d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bec6d3;
  border-radius: 5px;
  outline: 0;
  padding: 0 12px; }
  .form-c:hover {
    border-color: #56646d; }
  .form-c:focus {
    border-color: #0099ff; }
  .form-c.error,
  .form-c.error:focus,
  .form-c.error:hover,
  .form-feedback.error .form-c {
    border-color: #ff3366;
    color: #ff3366; }
  .form-c.success,
  .form-c.success:focus,
  .form-c.success.hover,
  .form-feedback.success .form-c {
    border-color: #24c05f;
    color: #24c05f; }
  .form-c::-moz-placeholder {
    color: #e3e7ea;
    opacity: 1; }
  .form-c:-ms-input-placeholder {
    color: #e3e7ea; }
  .form-c::-webkit-input-placeholder {
    color: #e3e7ea; }
  .form-c[disabled],
  .form-c[readonly],
  fieldset[disabled] .form-c {
    background-color: #f5f6f8;
    opacity: 1; }
  .form-c[disabled],
  fieldset[disabled] .form-c {
    cursor: not-allowed; }

.form-feedback {
  display: inline-block;
  position: relative; }
  .form-feedback .feedback {
    height: 40px;
    line-height: 40px; }
  .form-feedback .form-c {
    line-height: 38px; }
  .form-feedback .form-c {
    display: block; }
  .form-feedback .feedback {
    text-align: center;
    position: absolute;
    top: 0;
    width: 30px; }
  .form-feedback.left .form-c {
    padding-left: 30px; }
  .form-feedback.left .feedback {
    left: 0;
    padding-left: 3px; }
  .form-feedback.right .form-c {
    padding-right: 30px; }
  .form-feedback.right .feedback {
    right: 0;
    padding-right: 3px; }
  .form-feedback.error .feedback {
    color: #ff3366; }
  .form-feedback.success .feedback {
    color: #24c05f; }

@font-face {
  font-family: "fontello";
  src: url("../font/fontello-3b99b5eb/font/fontello.eot?7526586");
  src: url("../font/fontello-3b99b5eb/font/fontello.eot?7526586#iefix") format("embedded-opentype"), url("../font/fontello-3b99b5eb/font/fontello.woff?7526586") format("woff"), url("../font/fontello-3b99b5eb/font/fontello.ttf?7526586") format("truetype"), url("../font/fontello-3b99b5eb/font/fontello.svg?7526586#fontello") format("svg"); }

[class*=" icon-"], [class^=icon-] {
  font-family: "fontello";
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-glyph:before {
  content: "\e800"; }

.icon-glyph-1:before {
  content: "\e801"; }

.icon-glyph-2:before {
  content: "\e802"; }

.icon-glyph-3:before {
  content: "\e803"; }

.icon-glyph-4:before {
  content: "\e804"; }

.icon-glyph-5:before {
  content: "\e805"; }

.icon-glyph-6:before {
  content: "\e806"; }

.icon-glyph-7:before {
  content: "\e807"; }

.icon-glyph-8:before {
  content: "\e808"; }

.icon-glyph-9:before {
  content: "\e809"; }

.icon-glyph-10:before {
  content: "\e80a"; }

.icon-glyph-11:before {
  content: "\e80b"; }

.icon-glyph-12:before {
  content: "\e80c"; }

.icon-glyph-13:before {
  content: "\e80d"; }

.icon-glyph-14:before {
  content: "\e80e"; }

.icon-glyph-15:before {
  content: "\e80f"; }

.icon-glyph-16:before {
  content: "\e810"; }

.icon-glyph-17:before {
  content: "\e811"; }

.icon-glyph-18:before {
  content: "\e812"; }

.icon-glyph-19:before {
  content: "\e813"; }

.icon-glyph-20:before {
  content: "\e814"; }

.icon-glyph-21:before {
  content: "\e815"; }

.icon-glyph-22:before {
  content: "\e816"; }

.icon-glyph-23:before {
  content: "\e817"; }

.icon-glyph-24:before {
  content: "\e818"; }

.icon-glyph-25:before {
  content: "\e819"; }

.icon-glyph-26:before {
  content: "\e81a"; }

.icon-copyright:before {
  content: "\e81b"; }

.icon-glyph-28:before {
  content: "\e81c"; }

.icon-glyph-29:before {
  content: "\e81d"; }

.icon-glyph-30:before {
  content: "\e81e"; }

.icon-glyph-31:before {
  content: "\e81f"; }

.icon-glyph-32:before {
  content: "\e820"; }

.icon-glyph-33:before {
  content: "\e821"; }

.icon-glyph-34:before {
  content: "\e822"; }

.icon-glyph-35:before {
  content: "\e823"; }

.icon-glyph-36:before {
  content: "\e824"; }

.icon-glyph-37:before {
  content: "\e825"; }

.icon-glyph-38:before {
  content: "\e826"; }

.icon-glyph-39:before {
  content: "\e827"; }

.icon-glyph-40:before {
  content: "\e828"; }

.icon-glyph-41:before {
  content: "\e829"; }

.icon-glyph-42:before {
  content: "\e82a"; }

.icon-glyph-43:before {
  content: "\e82b"; }

.icon-glyph-44:before {
  content: "\e82c"; }

.icon-glyph-45:before {
  content: "\e82d"; }

.icon-glyph-46:before {
  content: "\e82e"; }

.icon-glyph-47:before {
  content: "\e82f"; }

.icon-glyph-48:before {
  content: "\e830"; }

.icon-glyph-49:before {
  content: "\e831"; }

.icon-glyph-50:before {
  content: "\e832"; }

.icon-glyph-51:before {
  content: "\e833"; }

.icon-glyph-52:before {
  content: "\e834"; }

.icon-glyph-53:before {
  content: "\e835"; }

.icon-glyph-54:before {
  content: "\e836"; }

.icon-glyph-55:before {
  content: "\e837"; }

.icon-glyph-56:before {
  content: "\e838"; }

.icon-glyph-57:before {
  content: "\e839"; }

.icon-glyph-58:before {
  content: "\e83a"; }

.icon-glyph-59:before {
  content: "\e83b"; }

.icon-glyph-60:before {
  content: "\e83c"; }

.icon-glyph-61:before {
  content: "\e83d"; }

.icon-glyph-62:before {
  content: "\e83e"; }

.icon-glyph-63:before {
  content: "\e83f"; }

.icon-glyph-64:before {
  content: "\e840"; }

.icon-glyph-65:before {
  content: "\e841"; }

.icon-trash:before {
  content: "\e842"; }

.icon-glyph-67:before {
  content: "\e843"; }

.icon-glyph-68:before {
  content: "\e844"; }

.icon-glyph-69:before {
  content: "\e845"; }

.icon-glyph-70:before {
  content: "\e846"; }

.icon-glyph-71:before {
  content: "\e847"; }

.icon-glyph-72:before {
  content: "\e848"; }

.icon-glyph-73:before {
  content: "\e849"; }

.icon-glyph-74:before {
  content: "\e84a"; }

.icon-glyph-75:before {
  content: "\e84b"; }

.icon-glyph-76:before {
  content: "\e84c"; }

.icon-glyph-77:before {
  content: "\e84d"; }

.icon-glyph-78:before {
  content: "\e84e"; }

.icon-glyph-79:before {
  content: "\e84f"; }

.icon-glyph-80:before {
  content: "\e850"; }

.icon-glyph-81:before {
  content: "\e851"; }

.icon-glyph-82:before {
  content: "\e852"; }

.icon-glyph-83:before {
  content: "\e853"; }

.icon-glyph-84:before {
  content: "\e854"; }

.icon-glyph-85:before {
  content: "\e855"; }

.icon-glyph-86:before {
  content: "\e856"; }

.icon-glyph-87:before {
  content: "\e857"; }

.icon-glyph-88:before {
  content: "\e858"; }

.icon-glyph-89:before {
  content: "\e859"; }

.icon-glyph-90:before {
  content: "\e85a"; }

.icon-glyph-91:before {
  content: "\e85b"; }

.icon-glyph-92:before {
  content: "\e85c"; }

.icon-glyph-93:before {
  content: "\e85d"; }

.icon-glyph-94:before {
  content: "\e85e"; }

.icon-glyph-95:before {
  content: "\e85f"; }

.icon-glyph-96:before {
  content: "\e860"; }

.icon-glyph-97:before {
  content: "\e861"; }

.icon-glyph-98:before {
  content: "\e862"; }

.icon-glyph-99:before {
  content: "\e863"; }

.icon-glyph-100:before {
  content: "\e864"; }

.icon-glyph-101:before {
  content: "\e865"; }

.icon-glyph-102:before {
  content: "\e866"; }

.icon-glyph-103:before {
  content: "\e867"; }

.icon-glyph-104:before {
  content: "\e868"; }

.icon-glyph-105:before {
  content: "\e869"; }

.icon-glyph-106:before {
  content: "\e86a"; }

.icon-glyph-107:before {
  content: "\e86b"; }

.icon-glyph-108:before {
  content: "\e86c"; }

.icon-glyph-109:before {
  content: "\e86d"; }

.icon-glyph-110:before {
  content: "\e86e"; }

.icon-glyph-111:before {
  content: "\e86f"; }

.icon-glyph-112:before {
  content: "\e870"; }

.icon-glyph-113:before {
  content: "\e871"; }

.icon-glyph-114:before {
  content: "\e872"; }

.icon-glyph-115:before {
  content: "\e873"; }

.icon-glyph-116:before {
  content: "\e874"; }

.icon-glyph-117:before {
  content: "\e875"; }

.icon-glyph-118:before {
  content: "\e876"; }

.icon-glyph-119:before {
  content: "\e877"; }

.icon-glyph-120:before {
  content: "\e878"; }

.icon-glyph-121:before {
  content: "\e879"; }

.icon-glyph-122:before {
  content: "\e87a"; }

.icon-glyph-123:before {
  content: "\e87b"; }

.icon-glyph-124:before {
  content: "\e87c"; }

.icon-glyph-125:before {
  content: "\e87d"; }

.icon-glyph-126:before {
  content: "\e87e"; }

.icon-glyph-127:before {
  content: "\e87f"; }

.icon-glyph-128:before {
  content: "\e880"; }

.icon-glyph-129:before {
  content: "\e881"; }

.icon-glyph-130:before {
  content: "\e882"; }

.icon-glyph-131:before {
  content: "\e883"; }

.icon-glyph-132:before {
  content: "\e884"; }

.icon-app:before {
  content: "\e885"; }

.icon-app-b:before {
  content: "\e886"; }

.icon-me:before {
  content: "\e887"; }

.icon-me-b:before {
  content: "\e888"; }

.icon-chat:before {
  content: "\e889"; }

.icon-chat-b:before {
  content: "\e88a"; }

.icon-contacts:before {
  content: "\e88b"; }

.icon-contacts-b:before {
  content: "\e88c"; }

.icon-glyph-133:before {
  content: "\e88d"; }

.icon-glyph-134:before {
  content: "\e88e"; }

.icon-glyph-135:before {
  content: "\e88f"; }

.icon-glyph-136:before {
  content: "\e890"; }

.icon-glyph-137:before {
  content: "\e891"; }

.icon-glyph-138:before {
  content: "\e892"; }

.icon-glyph-139:before {
  content: "\e893"; }

.icon-glyph-140:before {
  content: "\e894"; }

.icon-glyph-141:before {
  content: "\e895"; }

.icon-glyph-142:before {
  content: "\e896"; }

.icon-glyph-143:before {
  content: "\e897"; }

.icon-glyph-144:before {
  content: "\e898"; }

.icon-glyph-145:before {
  content: "\e899"; }

.icon-glyph-146:before {
  content: "\e89a"; }

.icon-glyph-147:before {
  content: "\e89b"; }

.icon-glyph-148:before {
  content: "\e89c"; }

.icon-glyph-149:before {
  content: "\e89d"; }

.icon-glyph-150:before {
  content: "\e89e"; }

.icon-glyph-151:before {
  content: "\e89f"; }

.icon-glyph-152:before {
  content: "\e8a0"; }

.icon-glyph-153:before {
  content: "\e8a1"; }

.icon-glyph-154:before {
  content: "\e8a2"; }

.icon-glyph-155:before {
  content: "\e8a3"; }

.icon-glyph-156:before {
  content: "\e8a4"; }

.icon-glyph-157:before {
  content: "\e8a5"; }

.icon-glyph-158:before {
  content: "\e8a6"; }

.icon-glyph-159:before {
  content: "\e8a7"; }

.icon-glyph-160:before {
  content: "\e8a8"; }

.icon-glyph-161:before {
  content: "\e8a9"; }

.icon-glyph-162:before {
  content: "\e8aa"; }

.icon-glyph-163:before {
  content: "\e8ab"; }

.icon-glyph-164:before {
  content: "\e8ac"; }

.icon-glyph-165:before {
  content: "\e8ad"; }

.icon-glyph-166:before {
  content: "\e8ae"; }

.icon-glyph-167:before {
  content: "\e8af"; }

.icon-glyph-168:before {
  content: "\e8b0"; }

.icon-glyph-169:before {
  content: "\e8b1"; }

.icon-glyph-170:before {
  content: "\e8b2"; }

.icon-rain:before {
  content: "\e8b3"; }

.icon-glyph-172:before {
  content: "\e8b4"; }

.icon-glyph-173:before {
  content: "\e8b5"; }

.icon-glyph-174:before {
  content: "\e8b6"; }

.icon-glyph-175:before {
  content: "\e8b7"; }

.icon-glyph-176:before {
  content: "\e8b8"; }

.icon-glyph-177:before {
  content: "\e8b9"; }

.icon-glyph-178:before {
  content: "\e8ba"; }

.icon-glyph-179:before {
  content: "\e8bb"; }

.icon-glyph-180:before {
  content: "\e8bc"; }

.icon-trash-empty:before {
  content: "\e8bd"; }

.icon-glyph-182:before {
  content: "\e8be"; }

.icon-glyph-183:before {
  content: "\e8bf"; }

.icon-glyph-184:before {
  content: "\e8c0"; }

.icon-glyph-185:before {
  content: "\e8c1"; }

.icon-glyph-186:before {
  content: "\e8c2"; }

.icon-glyph-187:before {
  content: "\e8c3"; }

.icon-glyph-188:before {
  content: "\e8c4"; }

.icon-glyph-189:before {
  content: "\e8c5"; }

.icon-glyph-190:before {
  content: "\e8c6"; }

.icon-glyph-191:before {
  content: "\e8c7"; }

.icon-glyph-192:before {
  content: "\e8c8"; }

.icon-glyph-193:before {
  content: "\e8c9"; }

.icon-glyph-194:before {
  content: "\e8ca"; }

.icon-glyph-195:before {
  content: "\e8cb"; }

.icon-glyph-196:before {
  content: "\e8cc"; }

.icon-glyph-197:before {
  content: "\e8cd"; }

.icon-glyph-198:before {
  content: "\e8ce"; }

.icon-glyph-199:before {
  content: "\e8cf"; }

.icon-glyph-200:before {
  content: "\e8d0"; }

.icon-glyph-201:before {
  content: "\e8d1"; }

.icon-glyph-202:before {
  content: "\e8d2"; }

.icon-glyph-203:before {
  content: "\e8d3"; }

.icon-glyph-204:before {
  content: "\e8d4"; }

.icon-glyph-205:before {
  content: "\e8d5"; }

.icon-glyph-206:before {
  content: "\e8d6"; }

.icon-glyph-207:before {
  content: "\e8d7"; }

.icon-glyph-208:before {
  content: "\e8d8"; }

.icon-glyph-209:before {
  content: "\e8d9"; }

.icon-glyph-210:before {
  content: "\e8da"; }

.icon-glyph-211:before {
  content: "\e8db"; }

.icon-glyph-212:before {
  content: "\e8dc"; }

.icon-glyph-213:before {
  content: "\e8dd"; }

.icon-glyph-214:before {
  content: "\e8de"; }

.icon-glyph-215:before {
  content: "\e8df"; }

.icon-glyph-216:before {
  content: "\e8e0"; }

.icon-glyph-217:before {
  content: "\e8e1"; }

.icon-glyph-218:before {
  content: "\e8e2"; }

.icon-glyph-219:before {
  content: "\e8e3"; }

.icon-glyph-220:before {
  content: "\e8e4"; }

.icon-glyph-221:before {
  content: "\e8e5"; }

.icon-glyph-222:before {
  content: "\e8e6"; }

.icon-glyph-223:before {
  content: "\e8e7"; }

.icon-glyph-224:before {
  content: "\e8e8"; }

.icon-glyph-225:before {
  content: "\e8e9"; }

.icon-ie:before {
  content: "\e8ea"; }

.icon-opera:before {
  content: "\e8eb"; }

.icon-chrome:before {
  content: "\e8ec"; }

.icon-firefox:before {
  content: "\e8ed"; }

.icon-dot-circled:before {
  content: "\e8ee"; }

.icon-circle-empty:before {
  content: "\e8ef"; }

.icon-circle:before {
  content: "\e8f0"; }

.icon-code:before {
  content: "\e8f1"; }

.icon-cloud-sun:before {
  content: "\e8f2"; }

.icon-drizzle:before {
  content: "\e8f3"; }

.icon-cloud-flash:before {
  content: "\e8f4"; }

.icon-cloud-wind:before {
  content: "\e8f5"; }

.icon-wind:before {
  content: "\e8f6"; }

.icon-ellipsis:before {
  content: "\e8f7"; }

.icon-ellipsis-vert:before {
  content: "\e8f8"; }

.icon-toggle-off:before {
  content: "\e8f9"; }

.icon-toggle-on:before {
  content: "\e8fa"; }

.icon-at:before {
  content: "\e8fb"; }

.icon-bell:before {
  content: "\e8fc"; }

.icon-bell-alt:before {
  content: "\e8fd"; }

.icon-bell-off:before {
  content: "\e8fe"; }

.icon-bell-off-empty:before {
  content: "\e8ff"; }

.icon-attention-alt:before {
  content: "\e900"; }

.icon-file-pdf:before {
  content: "\e901"; }

.icon-file-word:before {
  content: "\e902"; }

.icon-file-excel:before {
  content: "\e903"; }

.icon-file-powerpoint:before {
  content: "\e904"; }

.icon-file-image:before {
  content: "\e905"; }

.icon-file-archive:before {
  content: "\e906"; }

.icon-file-audio:before {
  content: "\e907"; }

.icon-file-video:before {
  content: "\e908"; }

.icon-file-code:before {
  content: "\e909"; }

.icon-doc-text:before {
  content: "\e90a"; }

.icon-docs:before {
  content: "\e90b"; }

.bubble {
  position: relative;
  max-width: 380px;
  padding: 8px;
  display: inline-block;
  background: #e3e7ea;
  border-radius: 5px;
  text-align: left; }
  .bubble pre {
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
    font-family: inherit; }
  .bubble.left {
    background: #0099ff;
    color: #fff; }
  .bubble.right:before {
    border-left-color: #0099ff; }
  .bubble .icon-reload {
    color: #000;
    right: 100%;
    margin-right: 10px; }
  .bubble .icon-star {
    color: #0099ff;
    left: 100%;
    margin-left: 10px; }
  .bubble.left:before {
    right: 100%;
    border-right-color: #0099ff;
    border-right-width: 4px; }
  .bubble.right:before {
    left: 100%;
    border-left-color: #e3e7ea;
    border-left-width: 4px; }
  .bubble .icon-reload, .bubble .icon-star {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px; }

.global-panel {
  width: 80px;
  height: 100%;
  border-right: 1px solid #e3e7ea;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1); }
  @media (min-width: 1440px) {
    .global-panel {
      width: 100px; } }

.global-panel-item, .global-panel-logo {
  border-bottom: 1px solid #e3e7ea; }

.global-panel-item {
  display: block;
  padding-top: 19px;
  padding-bottom: 13px;
  font-size: 38px;
  cursor: pointer;
  text-decoration: none;
  color: #56646d;
  position: relative; }
  .global-panel-item.icon-chat:hover,
  .global-panel-item.icon-chat.active {
    color: #0099ff; }
    .global-panel-item.icon-chat:hover:before,
    .global-panel-item.icon-chat.active:before {
      content: "\e88a"; }
  .global-panel-item.icon-contacts:hover,
  .global-panel-item.icon-contacts.active {
    color: #0099ff; }
    .global-panel-item.icon-contacts:hover:before,
    .global-panel-item.icon-contacts.active:before {
      content: "\e88c"; }
  .global-panel-item.icon-app:hover,
  .global-panel-item.icon-app.active {
    color: #0099ff; }
    .global-panel-item.icon-app:hover:before,
    .global-panel-item.icon-app.active:before {
      content: "\e886"; }
  .global-panel-item .circle-tip {
    font-family: Microsoft Yahei, open sans, sans;
    font-size: 12px;
    position: absolute;
    left: 53px;
    top: 14px; }

.global-panel-logo {
  height: 100px; }

.sub-panel {
  background: #f5f6f8;
  margin-left: 80px;
  width: 220px;
  height: 100%;
  border-right: 1px solid #e3e7ea;
  float: left; }
  @media (min-width: 1440px) {
    .sub-panel {
      margin-left: 100px;
      width: 300px; } }

.sub-panel-header {
  padding: 21px 20px 15px 20px;
  border-bottom: 1px solid #e3e7ea; }
  .sub-panel-header .btn-add {
    color: #000; }

.sub-panel-header .btn-add {
  float: right;
  font-size: 30px;
  line-height: 32px;
  cursor: pointer;
  color: #bec6d3; }

.work-search {
  width: 80%; }
  .work-search .feedback {
    height: 34px;
    line-height: 34px; }
  .work-search .form-c {
    line-height: 32px; }
  .work-search .form-c {
    border-radius: 20px;
    width: 100%; }
  .work-search .feedback {
    color: #e3e7ea; }

.work-list {
  padding: 0; }

.work-item {
  padding: 9px 18px 8px;
  margin-top: -1px;
  overflow: hidden;
  cursor: pointer;
  border-top: 1px solid #f5f6f8;
  border-bottom: 1px solid #f5f6f8;
  position: relative; }
  .work-item:hover, .work-item.active {
    background: #fff;
    border-color: #e3e7ea;
    z-index: 2; }
  .work-item:first-child {
    border-top: none; }
  .work-item:first-child {
    margin-top: 0px; }

.work-item-avator {
  float: left;
  margin-right: 8px; }
  .work-item-avator img {
    display: block; }

.work-item-info {
  overflow: hidden; }
  .work-item-info h4 {
    width: 100%;
    font-size: 14px;
    font-weight: 400; }
  .work-item-info p {
    font-size: 12px;
    width: 100%;
    color: #56646d;
    margin-top: 3px; }

.work-item-time {
  float: right;
  font-size: 12px;
  color: #56646d;
  letter-spacing: 2px; }

.chat-area {
  background: #fff;
  overflow: hidden;
  position: relative;
  height: 100%;
  border-right: 1px solid #e3e7ea;
  min-width: 520px;
  width: calc((100% - 80px - 220px)/2); }
  @media (min-width: 1440px) {
    .chat-area {
      width: calc((100% - 100px - 300px)/2); } }

.chat-title {
  cursor: pointer;
  text-align: center;
  padding: 23px 0 22px;
  border-bottom: 1px solid #e3e7ea; }

.chat-content {
  padding: 0 20px; }

.chat-room {
  position: absolute;
  top: 71px;
  left: 0;
  width: 100%;
  z-index: 90;
  border-bottom: 1px solid #e3e7ea;
  background: #fff; }

.chat-room-inner {
  padding: 24px; }

.chat-room-search input {
  border-radius: 3px;
  border: 1px solid #e3e7ea;
  vertical-align: top;
  outline: none;
  padding: 0 10px;
  line-height: 38px;
  width: 206px; }

.chat-room-members {
  margin-top: 18px; }

.chat-room-member .circle {
  color: #ff3366;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: -6px;
  top: -6px;
  visibility: hidden; }

.chat-room-member:hover .circle {
  visibility: visible; }

.chat-room-members-add {
  width: 45px;
  height: 45px;
  border: 1px solid #e3e7ea;
  font-size: 32px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  color: #e3e7ea; }

.chat-room-members-add, .chat-room-member {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 47px;
  height: 47px;
  border-radius: 3px; }

.chat-message-time {
  margin: 18px auto 14px;
  width: 160px;
  height: 1px;
  text-align: center;
  border-bottom: 1px solid #bec6d3; }
  .chat-message-time time {
    color: #bec6d3;
    font-size: 12px;
    background-color: #fff;
    position: relative;
    top: -12px;
    padding: 0 5px; }

.chat-message-avator {
  border-radius: 3px; }
  .chat-message.me .chat-message-avator {
    float: right; }
  .chat-message.you .chat-message-avator {
    float: left; }

.chat-message-content {
  overflow: hidden; }
  .chat-message.me .chat-message-content {
    text-align: right; }
    .chat-message.me .chat-message-content .bubble {
      margin-right: 10px; }
  .chat-message.you .chat-message-content .bubble {
    margin-left: 10px; }

.chat-message-name {
  margin-left: 10px;
  font-size: 12px;
  margin-bottom: 5px; }

.chat-send {
  height: 175px;
  border-top: 1px solid #e3e7ea;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; }

.chat-send-toolbar {
  padding: 10px 17px;
  color: #bec6d3; }
  .chat-send-toolbar i {
    display: inline-block;
    line-height: 26px;
    width: 32px;
    text-align: center;
    font-size: 16px; }
  .chat-send-toolbar .toolbar {
    cursor: pointer; }
    .chat-send-toolbar .toolbar.active, .chat-send-toolbar .toolbar:hover {
      color: #0099ff; }

.chat-send-toolbar-records {
  float: right;
  margin-right: 8px; }
  .chat-send-toolbar-records i {
    width: 29px; }

.chat-send-content {
  margin: 0;
  padding: 0px 24px;
  height: 70px; }

.chat-send-action {
  padding: 10px 24px 0;
  text-align: right; }
  .chat-send-action .chat-send-action-tip {
    color: #bec6d3;
    font-size: 12px;
    margin-right: 8px; }

.emotion {
  position: absolute;
  left: 12px;
  bottom: 404px;
  display: none;
  z-index: 900; }

.emotion-bd-item {
  width: 435px; }
  .emotion-bd-item.normal {
    background: #fff url(/public/img/qqfacePanel27a55f.png) no-repeat; }
  .emotion-bd-item > a {
    float: left;
    width: 28px;
    height: 28px;
    font-size: 0;
    text-indent: -999em;
    border-bottom: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    cursor: pointer; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }

.animate-rotate {
  transform-origin: 50%;
  animation: rotate 1s linear 0s infinite; }

/*# sourceMappingURL=main.css.map */