// approval area

.approval-area{
  @extend %half-detail-area;
}
.approval-title{
  @extend %detail-area-title;
}

.approval-title-item{
  display:inline-block;
  position:relative;
  padding:0 42px;
  line-height:1;
  span{
    font-size:18px;

  }
  .circle-tip{
    position:absolute;top:-5px;right:28px;
  }
  &.active{
    color:$blue-base;
  }

  & + .approval-title-item{
    border-left:1px solid $gray-light;
  }
}

.approval-search{
  float:right;
  margin-right:25px;
  @extend %icon-search;
}

// .approval-body
.approval-body{
  padding-left:20px;
}

.approval-handle-title{
  text-align:center;
}
.approval-handle-title-item{
  float:left;
  width:50%;
  padding: 13px 0;
  border-bottom: 2px solid $gray-light;
  cursor:pointer;

  &.active,
  &:hover{
    border-bottom-color: $blue-base;
  }
}
.approval-list{
  padding-top:10px;


}

.approval-item{
  @extend %thread-item;
  padding:13px 20px 11px 23px;
  position:relative;
  border-bottom:1px dashed $gray-light;

  &:before{
    content: '';
    position:absolute;
    left:0px;top:14px;
    background:$red-base;
    border-radius:50%;
    width:10px;height:10px;
  }
}
.approval-item-avator{
  @extend %avator;
}
.approval-item-info{
  @extend %thread-item-info;
}
.approval-item-func{
  @extend %thread-item-func;
}
.approval-item-comment{
  position:relative;

  &.comment-tip{
    &:after{
      content: '';
      background:$red-base;
      position:absolute;
      width:6px;
      height:6px;
      border-radius:50%;
      right:-3px;
      top:-2px;
    }
  }
}

.approval-footer{
  width:100%;
  position:absolute;
  bottom:0;
}
.approval-footer-item{
  width:33.333%;
  text-align:center;
  float:left;
  font-size:14px;
  padding:8px 0;
  border-top:1px solid $gray-light;
  &:not(:first-child){
    margin-left:-1px;
  }
  &:not(:last-child){
    border-right:1px solid $gray-light;
  }
  i{
    font-size:20px;
    margin-right:10px;
    vertical-align:middle;
  }
}