// chat-area


.chat-area{
  @extend %area;
  //max-width:$chat-area-max-width;

  width:calc((100% - 80px - 220px)/2);
  @media (min-width:$media-middle-width){
    width:calc((100% - 100px - 300px)/2);
  }
}

.chat-title{
  cursor:pointer;
  text-align:center;
  padding:23px 0 22px;
  border-bottom:1px solid $gray-light;
}



.chat-content{
  padding:0 20px;
}

@import "c_chat_room";
@import "c_chat_messages";
@import "c_chat_send";