.chat-room {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: $z-index-base;
  border-bottom:1px solid $gray-light;
  background:$light-base;
}
.chat-room-inner{
  padding: 24px;
}
.chat-room-search{
  input{
    border-radius:3px;
    border:1px solid $gray-light;
    vertical-align: top;
    outline:none;
    padding:0 10px;
    line-height:38px;
    width:206px;
  }
}

.chat-room-members{
  margin-top:18px;
}

.chat-room-member{
  width:47px;height:47px;
  position: relative;
  float:left;
  margin-right:10px;
}