// work-searck

.work-list{
  padding:0;
}

.work-item{
  padding:10px 18px;
  overflow:hidden;
}

.work-item-avator{
  float:left;
  margin-right:5px;
}

.work-item-info{
  overflow:hidden;
}

.work-item-time{
  float:right;
}