// work-searck

.work-list{
  padding:0;
}

.work-item{
<<<<<<< HEAD
  padding:9px 18px 8px;
  overflow:hidden;
  cursor:pointer;
  border-top:1px solid $gray-lighter;
  border-bottom:1px solid $gray-lighter;

  &:hover, &.active{
    background: $light-base;
    border-color:$gray-light;
  }

  &:first-child{
    border-top:none;
  }
=======
  padding:10px 18px;
  overflow:hidden;
>>>>>>> 33dd1180a91a4536507b4e56e60de35570654c18
}

.work-item-avator{
  float:left;
<<<<<<< HEAD
  margin-right:8px;

  img{
    display:block;
  }
=======
  margin-right:5px;
>>>>>>> 33dd1180a91a4536507b4e56e60de35570654c18
}

.work-item-info{
  overflow:hidden;
<<<<<<< HEAD

  h4{
    @extend %ellipsis;
    width:100%;
    font-size:14px;
    font-weight:400;
  }

  p{
    font-size:$font-size-small;
    @extend %ellipsis;
    width:100%;
    color:$gray-darker;
    margin-top:2px;
  }
}


.work-item-time{
  float:right;
  font-size: $font-size-small;
  color: $gray-darker;
  letter-spacing: 2px;
=======
}

.work-item-time{
  float:right;
>>>>>>> 33dd1180a91a4536507b4e56e60de35570654c18
}