// work-searck

.work-list{
  padding:0;
}

.work-item{
  padding:9px 18px 8px;
  margin-top:-1px;
  overflow:hidden;
  cursor:pointer;
  border-top:1px solid $gray-lighter;
  border-bottom:1px solid $gray-lighter;
  position:relative;
  &:hover, &.active{
    background: $light-base;
    border-color:$gray-light;
    z-index:2;
  }

  &:first-child{
    border-top:none;
  }
  &:first-child{
    margin-top:0px;
  }
}

.work-item-avator{
  @extend %avator;

  img{
    display:block;
  }
}

.work-item-info{
  overflow:hidden;
  h3{
    margin:8px 0 0 5px;
  }
  h4{
    @extend %ellipsis;
    width:100%;
    font-size:14px;
    font-weight:400;
  }

  p{
    font-size:$font-size-small;
    @extend %ellipsis;
    width:100%;
    color:$gray-darker;
    margin-top:3px;
  }
}


.work-item-time{
  float:right;
  font-size: $font-size-small;
  color: $gray-darker;
  letter-spacing: 2px;
}