// global extend

%ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

%circle{
  border-radius:50%;
  text-align:center;
}

//circle tip
%circle-tip{
  @include circle(16px, $light-base, $red-base);
}
.circle-tip{
  @extend %circle-tip
}

// used on .chat-area and .calendar-area
%area{
  background: $light-base;
  overflow:hidden;
  position:relative;
  @include panel(null);
  min-width:$chat-area-width;
}

// avator used on .work-item-avator and .calendar-avator
%avator{
  float:left;
  margin-right:8px;
}

// used on .calendar-action-search and .approval-search
%icon-search{
  font-size:24px;
  vertical-align:middle;
  cursor:pointer;
}

%detail-area-title{
  padding: 23px 0 22px;
  border-bottom: 1px solid $gray-light;
}
%half-detail-area{
  width:calc((100% - 80px - 220px)/2);
  @media (min-width:$media-middle-width){
    width:calc((100% - 100px - 300px)/2);
  }
}

// used on .work-item and approval-item
%work-item{
  overflow:hidden;
  cursor:pointer;
}

%work-item-info{
  overflow:hidden;

  h3{
    margin:8px 0 0 5px;
  }
  h4{
    @extend %ellipsis;
    width:100%;
    font-size:14px;
    font-weight:400;
  }

  p{
    font-size:$font-size-small;
    @extend %ellipsis;
    width:100%;
    color:$gray-darker;
    margin-top:3px;
  }
}

%work-item-func{
  float:right;
  font-size: $font-size-small;
  color: $gray-dark;

  span{
    margin-left: 18px;
    font-size: 14px;
  }
  .tip{
    text-align:right;
  }
}
