// global extend

%ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

%circle{
  border-radius:50%;
  text-align:center;
}

//circle tip
%circle-tip{
  @include circle(16px, $light-base, $red-base);
}
.circle-tip{
  @extend %circle-tip
}