// global extend

%ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

%circle{
  border-radius:50%;
  text-align:center;
}

//circle tip
%circle-tip{
  padding:0 $circle-tip-width-base/4;
  color: $light-base;
  background:$red-base;
  border-radius:$circle-tip-width-base/2;
  line-height:$circle-tip-width-base;
  //@include circle($circle-tip-width-base, $light-base, $red-base);
}

.circle-tip{
  @extend %circle-tip
}

// used on .chat-area and .calendar-area
%area{
  background: $light-base;
  overflow:hidden;
  position:relative;
  @include panel(null);
  min-width:$chat-area-width;
}

// avator used on .thread-item-avator and .calendar-avator
%avator{
  float:left;
  margin-right:8px;
  position:relative;
}

// used on .calendar-action-search and .approval-search
%icon-search{
  font-size:24px;
  vertical-align:middle;
  cursor:pointer;
}

%detail-area-title{
  padding: 23px 0 22px;
  border-bottom: 1px solid $gray-light;
}
%half-detail-area{
  width:calc((100% - 80px - 220px)/2);
  @media (min-width:$media-middle-width){
    width:calc((100% - 100px - 300px)/2);
  }
}

// used on .thread-item and approval-item
%thread-item{
  overflow:hidden;
  cursor:pointer;
}

%thread-item-info{
  overflow:hidden;

  h3{
    margin:8px 0 0 5px;
  }
  h4{
    @extend %ellipsis;
    width:100%;
    font-size:14px;
    font-weight:400;
  }

  p{
    font-size:$font-size-small;
    @extend %ellipsis;
    width:100%;
    color:$gray-darker;
    margin-top:3px;
  }
}

%thread-item-func{
  float:right;
  font-size: $font-size-small;
  color: $gray-dark;

  span{
    margin-left: 18px;
    font-size: 14px;
  }
  .tip{
    text-align:right;
  }
}
