/*
*  存放变量
*/

//== Colors
$blue-base: #0099ff !default;
$red-base: #ff3366 !default;
$gray-base: #000 !default;
$gray-darker: rgb(86, 10, 109) !default;
$gray-dark: rgb(190, 198, 211) !default;
$gray-light:rgb(227, 231, 234) !default;
$gray-lighter: rgb(254, 246, 248) !default;

// global text color on <body>
$text-color: $gray-base !default;

// global link color
$link-color:$blue-base;
$link-hover-color:$blue-base !default;

$font-family-base:PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans !default;
$font-family-special:  Microsoft Yahei, open sans, sans;
$font-size-base: 14px !default;

$font-size-h1:36px !default;
$font-size-h2:30px !default;
$font-size-h3:24px !default;
$font-size-h4:18px !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: 12px !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default;

// ## Define common padding and border radius sizes and more.
$border-radius-base:3px !default;

$global-panel-width:100px !default;
$sub-panel-width:300px !default;
$detail-box-width:500px !default;

//family font path
$font-family:$font-family-special !default;
$icon-name: "Simple-Line-Icons";
$icon-path:"../font/Simple-Line-Icons-Webfont/fonts/Simple-Line-Icons";

// z-index
$z-index-base:90;
$z-index-small:9;
$z-index-large:900;

//search
$work-search-height:34px;